.bm-burger-button {
  display: none;
}
@media(max-width:768px) {
  .bm-item {
    display: inline-block;
    /* Our sidebar item styling */
    text-decoration: none;
    margin-bottom: 10px;
    color: white;
    transition: color 0.2s;
  }

  .bm-item:hover {
    color: white;
  }

  .bm-burger-button {
    display: block;
    position: fixed;
    width: 24px;
    height: 22px;
    right: 18px;
    top: 42px;
  }

  /* Color/shape of burger icon bars */
  .bm-burger-bars {
    background: black;
    position: absolute;
    top: -20px;
  }

  /* Position and sizing of clickable cross button */
  .bm-cross-button {
    height: 24px;
    width: 24px;
  }

  .bm-cross-button button {
    background: black;
  }

  /* Color/shape of close button cross */
  .bm-cross {
    background: white;
  }

  /* General sidebar styles */
  .bm-menu {
    background: rgba(0, 0, 0, 0.753);
    padding: 2.5em 1.5em 0;
    font-size: 1.15em;
  }

  /* Morph shape necessary with bubble or elastic */
  .bm-morph-shape {
    fill: #373a47;
  }

  /* Wrapper for item list */
  .bm-item-list {
    color: #b8b7ad;
  }

  /* Styling of overlay */
  .bm-overlay {
    background: rgba(0, 0, 0, 0.3);
  }

  .header-right-burger {
    display: flex;
  }
}